.wrapper {
    display: flex;
    align-items: center;
}

.value {
    border: 1px solid #eaeaea;
    padding: 2px 24px;
    border-radius: 20px;
}

.button {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
}

.button:hover {
    border: 1px solid #eaeaea;
}