.cp-aqua-bg { 
    background-color: #7FFFD4; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Nunito', sans-serif; 
}

.pink-card { 
    background-color: #FF69B4; 
    border: 5px solid black; 
    border-radius: 30px; 
    padding: 40px; 
    width: 500px;
}

.cp-title-blue { 
    color: #0072ff; 
    font-size: 45px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 30px; 
}

.cp-label { 
    color: #0072ff; 
    font-weight: bold; 
    display: block; 
    font-size: 20px;
    margin-bottom: 5px;
}

.cp-input-field { 
    background: transparent; 
    border: none; 
    border-bottom: 3px solid black; 
    width: 100%; 
    font-size: 18px; 
    margin-bottom: 25px; 
    outline: none;
    padding: 5px 0;
}

.cp-submit-btn { 
    border: 3px solid black; 
    background: #FF69B4; 
    padding: 8px 25px; 
    font-weight: bold; 
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.cp-submit-btn:hover { 
    background: #0072ff; 
    color: white; 
}